<h1>Rock/Paper/Scissors Game</h1>

<p>Choose second player's move (or let the computer decide)</p>
<br>
<ul>
  <li><a href="/r/<%=@move1%>/rock">Rock</a></li>
  <li><a href="/r/<%=@move1%>/paper">Paper</a></li>
  <li><a href="/r/<%=@move1%>/scissors">Scissors</a></li>
  <li><a href="/r/<%=@move1%>/">Computer's choice</a></li>
</ul>