<h1>Rock/Paper/Scissors Game</h1>

<p>To play, simply select your move from the list below:</p>
<br>
<ul>
  <li><a href="/rock/choosesecond">Rock</a></li>
  <li><a href="/paper/choosesecond">Paper</a></li>
  <li><a href="/scissors/choosesecond">Scissors</a></li>
</ul>