<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Shizz's Amazing Rock/Paper/Scissors game</title>
    <link rel='stylesheet' href='/style.css' >
  </head>
  <body>
    <nav>
      <a href = "/">Home</a>
    </nav>
    <%= yield %>
  </body>
</html>